<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      {% load static %}
    <link rel="stylesheet" href="{% static 'user_login/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Registered Users</title>
    </head>
    <div class="container">
    <h1>Registered Users</h1>
    <hr>
    <table>
        <thead>
            <tr class="d1">
                <th>First Name:</th>
                <th>Last Name:</th>
                <th>Age:</th>
                <th>Email:</th>
                <th>Created At:</th>
                <th>Created At:</th>
            </tr>
        </thead>
        <tbody>
      {% for user in users %}
      <tr class="d0">
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.email_address }}</td>
          <td>{{ user.created_at }}</td>
          <td>{{ user.updated_at }}</td>
          <!-- <td><a href="/users/{{ user.id }}">Show</a> | <a href="/users/{{ user.id }}/edit">Edit</a> | <a href="/users/{{ user.id }}/destroy">Delete</a></td>
          #Need to figure this out -->
      </tr>
      {% endfor %}
  <body>

  </body>
</html>
